p{ 
    color : green
} 

h1 {
    color: purple
}

.header{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

p,h2 {
    text-align: center;
}